<h2>Editing Book</h2>

<% if @book.errors.any? %>
    <%= @book.errors.count %>errors prohibited this book from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<main>
  <div class="edit">
    <%= form_with model: @book, url: book_path(@book.id), method: :patch do |f| %>
      <div class="edit-box">
        <P>本のタイトル</P>
        <%= f.text_field :title %>
        <P>感想</P>
        <%= f.text_area :body %>
      </div>
      <%= f.submit 'Update Book' %>
    <% end %>
  </div>
</main>

<div class="show-back">
  <%= link_to "Show", book_path(@book.id) %>|<%= link_to "Back", books_path %>
</div>

<!--<h2>Editing Book</h2>-->
<!--<main>-->
<!--  <div class="search-box">-->
<!--    %= form_with model: @book do |f| %>-->
<!--      <div class="search-form">-->
<!--        <p>本のタイトル</p>-->
<!--        %= f.text_field :title %>-->
<!--        <p>感想</p>-->
<!--        %= f.text_area :body %>-->
<!--      </div>-->
<!--      %= f.submit 'Create Book' %>-->
<!--    % end %>-->
<!--  </div>-->
<!--</main>-->